* {
    margin: 0;
    padding: 0;
    /*dark-theme*/
    /*background: gray;
    color: white;*/
}

header {
    background: #24292E;
    height: 40px;
}

.head_wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header a, a:visited {
    text-decoration: none;
    color: white /*white-theme*/
    /*color: white;*/

}

a:hover {
    color: #BDBFC0;;
}

header nav {
    width: 100%;
    padding-top: 10px;
    display: inline-block;
}

header a {
    font-weight: bold;
    padding: 20px;
}

header .left-nav {
    float: left;
    margin-right: auto;
}

header .right-nav {
    float: right;
    margin-right: 10px;
    height: 30px;
    text-align: right;
}

.wrapper_content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    padding-top: 10px;
}

.form p {
    padding-top: 8%;
}

.errors {
    color: red;
    font-style: italic;
}


.flashed {
    color: red;
}

/*.dark-theme {
    background: black;
    color: white;
}*/
