<!DOCTYPE html>
<html>
<head>
    <title>todo</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
        <title>
            {% if title %}        
                {{ title }}
            {% else %}
                todo
            {% endif %}
        </title>
</head>
<body>
    <header>
        <nav>
            <div class="left-nav">
                <!-- <nav> -->
                    <a href="{{ url_for('index') }}">ГЛАВНАЯ</a>    
                <!-- </nav>   -->
            </div>
            <div class="right-nav">
                <!-- <nav>                         -->
                    {% if not current_user.is_anonymous %}
                        <a href="{{ url_for('logout') }}">ВЫЙТИ</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">ВОЙТИ</a>
                        <a href="{{ url_for('reg') }}">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                    {% endif %}
                <!-- </nav>     -->
            </div>
        </nav>
        
    </header>
    <hr>
    <div class="wrapper_content">
        {% block content %}
        {% endblock %}    
    </div>
    
</body>
</html>