{% extends 'base.html' %}
{% block content %}
    <div class="wrapper_task">
        <div class="task">
            <form action='' method='post' navalidate>
                <p>
                    {{ form.csrf_token }}
                    <p> {{ form.add_task_field.label }} </p>
                    {{ form.add_task_field(size=70, autofocus=True) }}<br>
                </p>                
                
                    
                    <div class="task_list">
                        
                        <hr>    
                        <div class="wrapper_content">
                            <div class="content">
                                <br>
                                {% for task in tasks %}
                                    <p>
                                        {{ task.self_id }}. {{ task.body }} 
                                    </p>
                                {% endfor %}      
                            </div>
                            
                        </div>
                    </div>      
                
            </form>
        </div>    
    </div>
    
    
{% endblock %}