{% extends 'base.html' %}
{% block content %}
    {% if not current_user.is_anonymous %}
        hello, {{ current_user.username }}
    {% endif %}
    <div class="task">
        <form action='' method='post' navalidate>
            {{ form.csrf_token }}
            {{ form.add_task_field.label }} <br>
            {{ form.add_task_field() }}
            <br>
            {% for task in tasks %}
                <p>
                    {{ task.self_id }}. {{ task.body }} 
                </p>
            {% endfor %}
        </form>
    </div>
    
{% endblock %}