{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/registr.css") }}">
{% endblock %}
{% block content %}
    <div class="reg-login">
        <div class="form">
            <form action="" novalidate="" method="POST">
                {{ form.hidden_tag() }}                
                <p>
                    {{ form.username.label }} <br>
                    {{ form.username() }} <br>

                    {% for error in form.username.errors %}
                        <div class="errors"> {{ errror }} </div>
                    {% endfor %}
                </p>

                <p>
                    {{ form.password.label }} <br>
                    {{ form.password() }} <br>

                    {% for error in form.password.errors %}
                        <div class="errors"> {{ error }} </div>
                    {% endfor %}
                </p>

                <p>
                    {{ form.password1.label }} <br>
                    {{ form.password1() }} <br>

                    {% for error in form.password1.errors %}
                        <div class="errors"> {{ error }} </div>
                    {% endfor %}
                </p>
                <br>
                    {{ form.submit() }}                
                
                <div class="flashed">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}    
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}
